h1 {
    font-size: 50px;
}

button {
    padding: 10px;
    border-radius: 20px;
}

.list {
    display: flex;
}

.list-item {
    display: inline-block;
}

.list-button {
    display: inline-block;
}

.list-remove {
    width: 35px;
    height: 40px;
    margin-left: 50px;
    padding: 15px;
    border-radius: 5px;
    background-repeat: no-repeat;

    background-image: url("../img/trash.png");
}